body {
  background-color: #5ccbad;
  color: #d6f9b5;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 5px 20px;
  color: #d6f9b5;
  background-color: #337ab7;
  border-style: none;
}

input {
  height: 24px;
}